{% extends "base.html" %}
{% load url from future %}

{% block nav_home_class %}active{% endblock %}

{% block page_body %}
<div class="jumbotron">
  <h1>Do you enjoy playing the game really?</h1>
  <p class="lead">A gameplay is very funny .. if you have enough time for the playing.<br />
  This service will lock your game until you have to finish a homework.</p>
  <a class="btn btn-large btn-primary" href="{% url 'twauthorizer:auth' %}">Stop your unhappy game life</a>
</div>

<hr>

<p class="lead" style="text-align:center;">We saved <strong class="text-success">
  {{total_saved_hours}}</strong> hours (today <strong class="text-success">+{{today_saved_hours}}</strong> hours)
</p>

<hr>

<h2>How to use</h2>
<div class="row-fluid">
  <div class="span4">
    <h4>1. Upload your game file</h4>
    <p>
      Upload your game file along with the period that you want to stop it.<br />
      You must archive it in advance, If the target is folder.<br />
      <small class="text-info">Note: Max size for upload file is
        <strong>{{MAX_LOCKED_FILE_SIZE|filesizeformat}}</strong>.</small>
    </p>
  </div>
  <div class="span4">
    <h4>2. Download locked your file</h4>
    <p>
      The uploaded file will be compressed to passworded zip at once.<br />
      It must  be downloaded in your PC.<br />
      <small class="text-info">Note: You can to delete the locked file in server.</small>
    </p>
  </div>
  <div class="span4">
    <h4>3. Delete original file</h4>
    <p>
      Delete or move far your original file.<br />
      When the your set period comes, this site will display password for unlocking file.<br />
      Let's enjoy a happy game life!
    </p>
  </div>
</div>

<hr>

<h2>Examples of the utility</h2>
<div class="row-fluid">
  <div class="span6">
    <h4>General consumer games</h4>
    <p>
      General consumer games will have huge file size, and also they needs to install into your PC.<br />
      In such a case, you should upload only save game data.<br />
    </p>
  </div>
  <div class="span6">
    <h4>Rogue-like games</h4>
    <p>
      Almost Rogue-like games are small file size, and they are not necessary to install.
      (e.g.
        <a href="http://www.dungeoncrawl.org/" target="_blank">Dungeon Crawl</a>,
        <a href="http://rephial.org/" target="_blank">Angband</a>,
        <a href="http://www.nethack.org/" target="_blank">NetHack</a>,
        <a href="http://hengband.sourceforge.jp/" target="_blank">Hengband</a>,
        <a href="http://homepage3.nifty.com/rfish/elona_top.html" target="_blank">Elona</a>,
      ..)<br />
      The good method of that case, you compress the game folder to ZIP,
        and then you upload whole the compressed file.
    </p>
  </div>
</div>
{% endblock %}
