{% extends "base.html" %}
{% load url from future %}

{% block nav_home_class %}active{% endblock %}

{% block page_body %}
<div class="jumbotron">
  <h1>Do you enjoy playing the game really?</h1>
  <p class="lead">A gameplay is very funny .. if you have enough time for the playing.<br />
  This service will lock your game until you have to finish a homework.</p>
  <a class="btn btn-large btn-primary" href="{% url 'twauthorizer:auth' %}">Stop your unhappy game life</a>
</div>

<hr>

<p class="lead" style="text-align:center;">We saved <strong class="text-success">
  {{total_saved_hours}}</strong> hours (today <strong class="text-success">+{{today_saved_hours}}</strong> hours)
</p>

<hr>

<h2>How to use</h2>
<div class="row-fluid">
  <div class="span4">
    <h4>1. Upload your file</h4>
    <p>
      Upload your game file along with the period that you want to stop it.<br />
      You must archive it in advance, If the target is folder.<br />
      Max size for upload file is <strong class="text-info">{{MAX_LOCKED_FILE_SIZE|filesizeformat}}</strong>.
    </p>
  </div>
  <div class="span4">
    <h4>2. Download locked your file</h4>
    <p>
the way or manner in which punctuation is or has been used
the way or manner in which punctuation is or has been used
the way or manner in which punctuation is or has been used
    </p>
  </div>
  <div class="span4">
    <h4>3. Delete original file</h4>
    <p>
the way or manner in which punctuation is or has been used
the way or manner in which punctuation is or has been used
the way or manner in which punctuation is or has been used
    </p>
  </div>
</div>



<hr>

<h2>For example</h2>
<div class="row-fluid marketing">
  <div class="span6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="span6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div>
{% endblock %}
